#root {
  text-align: center;
  margin: 1.2rem;
  position: relative;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.content-wrapper {
  max-height: calc(100vh - 100px);
  /* Adjust based on your header/footer height */
  overflow-y: auto;
  /* Enable vertical scrolling */
  padding-bottom: 60px;
  /* Ensure space for the fixed button */
}

.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  /* Ensure the button is above other content */
}